<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- configuratore per decidere se stampare o meno le comanda per ogni figura prevista (cameriere clietne e cucina -->
    <add key="stampaComandaCameriere" value="true" />
    <add key="stampaComandaCucina" value="true" />
    <add key="stampaComandaCliente" value="true" />
    
    <add key="testataComanda" value="Cipolla di Certaldo in Sagra" />
    
    <!--con i flag sotto si decide se inserire nelal comanda il prezzo totale di ogni alimento oppure no -->
    <add key="ComandaConTotaleXcameriere" value="false"/>
    <add key="ComandaConTotaleXcucina" value="false"/>
    <add key="ComandaConTotaleXCliente" value="true"/>

    <add key="promo" value="promo promo"/>

    <add key="logocip" value="cipolla.jpg"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="mysqlVotazioni" connectionString="SERVER=localhost;DATABASE=sagra;UID=root;PASSWORD=root;Allow Zero Datetime=true;Treat Tiny As Boolean=false; pooling=false" providerName="MySql.Data.MySqlClient"/>
    
  </connectionStrings>
</configuration>
